@charset "UTF-8";
/*
#c5ebd6 - verde mais claro
#83e1ad
#3ddc84
#2fa866
#1a5c37 (verde mais escuro)
#063die (perto esverdeado)
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'fonteandroid';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --projcor0: #c5ebd6;
    --projcor1: #83e1ad;
    --projcor2: #3ddc84;
    --projcor3: #2fa866;
    --projcor4: #1a5c37;
    --projcor5: #063d1e;

    --fonte-padrao: 'Arial', 'Vernana', 'Helvetica', 'sans-serif';
    --fonte-android: 'fonteandroid', 'Arial';
    --fonte-destaque:'Bebas Neue', sans-serif, 'Arial';
}
body{
    font-family: var(--fonte-padrao);
    background-color: var(--projcor0);
}
header{
    background-image: linear-gradient(to top, var(--projcor5), var(--projcor3));
    font-family: var(--fonte-destaque);
    min-width: 150px;
    padding-top: 40px;
}
header > h1{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
    text-align: center;
    font-weight: normal;
    color: white;
    padding-bottom: 20px;  
    font-size: 2.5em;  
}
header > p{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: lighter;
    padding: 10px 10px 30px 10px;
    max-width: 600px;
    margin: auto;
    
}
nav{
    font-family: var(--fonte-padrao);
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.39);
}
nav > a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}
nav > a:hover{
    background-color: var(--projcor3);
    text-decoration: none;
    color: var(--projcor5);
}

main{
    padding: 20px;
    margin: auto;
    
    min-width: 260px;
    max-width: 800px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    background-color: white;
}
main a.externo::after{
    content: '\00A0\1F517';
}
main img{
    width: 100%;
}
main img.picpeq{
    min-width: 300px;
    max-width: 350px;
    display: block;
    margin: auto;
}
main h1{
    color: var(--projcor5);
    font-family: var(--fonte-android);
    font-size: 1.9em;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--projcor4);
    background-image: linear-gradient(to right, var(--projcor0), transparent);
    padding: 2px 10px;
    font-weight: normal;
}

main p{
    font-size: 1em;
    text-align: justify;
    line-height: 1.3em;
    margin: 15px 0px;
    text-indent: 30px;
}

main strong{
    color: var(--projcor3);
}

main a{
    text-decoration: none;
    color: var(--projcor5);
    background-color: var(--projcor2);
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 5px;
}
main a:hover {
    text-decoration: underline;
}

div.video{
    background-color: var(--projcor5); /*cor da div*/
    margin: auto; /*centraliza a div no main*/
    margin-left: -20px; /* desconto, pq esse e os outros 2 encosta a div na borda do main*/
    margin-right: -20px;
    margin-bottom: 20px;
    padding-bottom: 59%; /*deixa a div passando do video fazendo uma moldura e diz o tamanho do video dentro do player após da play*/
    position: relative; /*provavelmente deixa a div apropriada para receber o video*/
}

div.video > iframe{
    position: absolute; /*deixa o video flutuando e permite usar top, left, widht e height*/
    top: 5%; /*determina distancia para o topo da div*/
    left: 5%; /*determina distancia para lateral esquerda*/
    width: 90%; /*determina o espaço que o video oculpa dentro da div*/
    height: 90%;
}

aside{
    border-radius: 10px;
    max-width: 780px;
    background-color: var(--projcor0);
    margin: auto;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.397);
}

aside p{
    padding: 0px 20px 10px 20px;
}

aside ul{
    list-style-position: inside;
    list-style: none;
    columns: 2;
    padding: 2px 20px;
}
aside ul li::before{
    content: '\2714\00A0';
}

aside h3{
    padding: 10px;
    font-weight: bold;
    background-color: var(--projcor3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
       
}

footer{
    font-family: var(--fonte-padrao);
    background-color: var(--projcor5);
    color: white;
    text-align: center;
    padding: 10px;
    font-style: oblique;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.473);
}

